body,
button,
input,
select,
textarea{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    line-height: normal;
    display: flex;
    flex-direction: column;
    }


.buttons{
    display: flex;
    flex-direction: row;
}

